@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;200;300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: 15px;
  /* letter-spacing: 0.025em; */
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;

  transition-duration: 100ms;
  overflow-x: hidden;

  background-color: black;
  color-scheme: dark;
}

@layer components {
  .input-box {
    @apply w-[100%]
    p-3.5
    border
    border-grey-custom/10
    bg-grey-dark
    text-sm
    text-grey-custom/80
    placeholder:text-grey-custom/30
    disabled:text-grey-custom/30
    rounded-md
    outline-none
    file:hidden
    disabled:cursor-not-allowed
    /* capitalize; */;
  }

  .input-base-icon {
    @apply absolute 
    -translate-y-1/2 
    top-1/2
    text-grey-custom/50
    hover:text-grey-custom
    disabled:text-grey-custom/30
    disabled:hover:text-grey-custom/30
    outline-none;
  }

  .input-left-icon {
    @apply input-base-icon 
    left-5
    no-hover;
  }

  .input-right-icon {
    @apply input-base-icon right-5;
  }

  .floating-menu {
    @apply absolute
    flex
    flex-col
    h-full
    gap-y-2
    border-r
    bg-black
    border-neutral-900
    shadow-md
    shadow-black
    rounded-lg
    outline-none
    z-10;
  }

  .info-title {
    @apply text-left
    text-[clamp(2rem,8vw,6rem)]
    leading-[1.15]
    tracking-normal
    font-montserrat
    font-extrabold
    line-clamp-1
    sm:break-all
    max-sm:line-clamp-2;
  }

  .hero-section--type {
    @apply text-[clamp(0.857rem,2vw,1rem)] text-white;
  }

  .hero-section--description {
    @apply text-[clamp(0.857rem,2vw,1rem)] text-white line-clamp-1;
  }

  .navbar-link {
    @apply flex 
    p-2.5
    bg-neutral-800/80
    text-neutral-400
    hover:text-white
    hover:scale-105
    items-center
    justify-center
    rounded-full;
  }

  .navbar-link.active {
    @apply text-white;
  }

  .submit-btn {
    @apply w-[100%]
    p-3
    py-2.5
    text-sm
    bg-green-custom
    border-green-custom/50
    disabled:opacity-80
    disabled:hover:opacity-80
    disabled:bg-neutral-700/50
    disabled:text-neutral-500
    disabled:border-grey-custom/10
    hover:opacity-80
    rounded-md
    border-none
    outline-none
    transition
    shrink-0;
  }

  .profile-card-content-box {
    @apply input-box
    flex
    w-fit
    min-w-[50px]
    shrink-0
    items-center
    justify-center
    bg-transparent
    border-none
    disabled:no-hover;
  }

  .locale-submit-btn {
    @apply submit-btn
    w-fit
    px-5
    py-3
    transition-all;
  }

  .modal-btn {
    @apply submit-btn
    w-fit
    px-5
    mt-3
    rounded-md;
  }

  .hover-btn {
    @apply outline-none
    p-2
    rounded-full
    hover:bg-neutral-700/50
    transition;
  }

  .auth-btn {
    @apply w-fit
    px-5
    py-2
    bg-white
    text-sm
    text-black
    text-nowrap
    font-bold
    rounded-full
    hover:opacity-80
    hover:scale-105
    transition;
  }

  .menu-btn {
    @apply flex
    w-full
    p-2
    gap-3
    text-sm
    text-start
    text-neutral-400
    capitalize
    hover:bg-neutral-800/50
    hover:text-white
    items-center
    transition;
  }

  .third-party-btn {
    @apply flex
    p-3
    gap-5
    items-center
    justify-center
    w-full
    bg-[#2e2e2e]
    border
    border-grey-custom/10
    hover:bg-grey-custom/10
    text-sm
    disabled:opacity-50
    disabled:bg-neutral-700/50
    disabled:pointer-events-none
    capitalize
    rounded-md
    transition;
  }

  .player-btn {
    @apply text-grey-custom/50 hover:text-white transition;
  }

  .song-rate-btn {
    @apply p-3
    w-1/2
    text-sm
    bg-neutral-500/50
    border-neutral-500/50
    disabled:opacity-80
    disabled:hover:opacity-80
    disabled:bg-neutral-700/50
    disabled:text-neutral-500
    disabled:border-grey-custom/10
    rounded-2xl;
  }

  .load-btn {
    @apply text-sm
    text-neutral-100/30
    hover:text-neutral-100/50
    hover:scale-105
    transition;
  }

  .no-hover {
    @apply pointer-events-none;
  }

  .divider {
    @apply flex
    my-5
    w-full
    border-grey-custom/5;
  }

  .page-container {
    @apply flex
    flex-col
    min-w-[400px]
    min-h-full
    p-6
    gap-5;
  }

  .tag-label {
    @apply py-2
    px-3
    bg-gradient-to-r
    from-purple-400
    to-indigo-400
    text-xs
    text-white
    font-semibold
    rounded-full
    shadow-sm
    shadow-neutral-500;
  }

  .tag-label-secondary {
    @apply flex
    py-2
    px-3
    gap-1
    bg-neutral-500/50
    text-sm
    font-ubuntu
    items-center
    justify-center
    rounded-full;
  }

  .image-bottom-mask {
    @apply pointer-events-none
    absolute
    left-0
    right-0
    -bottom-5
    h-16
    bg-gradient-to-t
    from-black/80
    via-black/50
    to-transparent
    rounded-b-md;
  }

  .card-wrapper {
    @apply flex
    flex-col
    p-3
    gap-3
    w-full
    bg-gradient-to-t
    from-neutral-700/10
    to-neutral-700
    border-[0.1px]
    border-neutral-700
    shadow-[0_0_10px_rgba(0,0,0,0.1)]
    hover:shadow-sky-300/50
    rounded-md
    duration-200
    transition-all;
  }

  .card-size--base {
    @apply w-[180px];
  }

  .card-size--recommendation {
    @apply w-[160px] max-sm:w-[140px];
  }

  .stats-card-wrapper {
    @apply flex flex-col w-full p-8 gap-5 bg-black/30 shadow-lg rounded-md;
  }

  .manage-card-list-arrange--expanded {
    @apply grid max-lg:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5;
  }

  .manage-card-list-arrange--collapsed {
    @apply grid max-sm:grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;
  }

  .card-list-arrange--expanded {
    @apply grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3;
  }

  .card-list-arrange--collapsed {
    @apply grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3;
  }

  .grid-card-wrapper {
    @apply flex
      flex-col
      h-fit
      p-2
      gap-2
      shrink-0
      text-left
      hover:bg-neutral-400/10
      hover:shadow-[0px_0px_5px_rgba(0,0,0,0.5)]
      hover:shadow-neutral-900/50
      rounded-md
      cursor-pointer
      transition-all;
  }

  .grid-card-wrapper--background {
    @apply grid-card-wrapper bg-neutral-500/10 hover:bg-neutral-200/10 duration-200;
  }

  .matching-card-highlight {
    @apply border-2 border-purple-400/10 shadow-[0_0_10px_rgba(0,0,0,0.5)] shadow-purple-400/50 hover:shadow-purple-400/50;
  }

  .queue-playbtn--base {
    @apply absolute bottom-2 right-2 hover:scale-105 shadow-[0_0_10px_rgba(0,0,0,0.5)] shadow-neutral-900;
  }

  .queue-playbtn--active {
    @apply translate-y-0 opacity-100;
  }

  .queue-playbtn--floating {
    @apply translate-y-1/2 opacity-0 group-hover:translate-y-0 group-hover:opacity-100;
  }

  .song-card-details {
    @apply text-neutral-300 truncate;
  }

  .song-details-btn {
    @apply hover:px-2
    hover:bg-purple-500/30
    hover:shadow-purple-300/20
    hover:shadow-[0_0_10px_0_rgba(0,0,0,0.1)];
  }

  .navigation-arrow-btn {
    @apply p-3
    mx-2
    bg-neutral-400/50
    hover:bg-purple-400/50
    hover:scale-105
    rounded-full
    transition-all;
  }

  .control-panel-btn {
    @apply flex
    gap-2
    px-4
    py-2.5
    text-sm
    text-neutral-300
    items-center
    justify-center
    rounded-lg
    duration-300
    transition-all;
  }

  .control-panel-items-wrapper {
    @apply flex
    p-1
    gap-2
    items-center
    bg-neutral-800
    border-[0.1px]
    border-neutral-700
    rounded-lg;
  }

  .control-panel-items-wrapper::-webkit-scrollbar {
    display: none;
  }

  .control-panel-selected {
    @apply bg-gradient-to-r
    from-indigo-400
    to-purple-400
    text-white
    shadow-[0_0_5px_0_rgba(0,0,0,0.1)]
    shadow-purple-500;
  }

  .add-playlist-card-image {
    @apply flex
    h-[250px]
    items-center
    justify-center
    bg-neutral-900
    group-hover:bg-neutral-900/80
    group-hover:scale-[1.02]
    rounded-md
    duration-200
    transition-all;
  }

  th {
    @apply py-3 px-5 font-light text-sm text-grey-custom/50 whitespace-nowrap;
  }

  td {
    @apply py-2.5 px-5 max-w-[200px] overflow-hidden;
  }

  /* Input slider*/
  .slider-time {
    @apply text-[14px] text-grey-custom/50 font-inter;
  }

  /* verification code input */
  .verification-input {
    @apply w-16
    h-16
    text-3xl
    text-center
    uppercase
    border
    border-gray-500
    outline-none
    caret-transparent
    focus:ring-1
    rounded-md;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .input-slider {
    @apply appearance-none
      w-full
      h-[3px]
      bg-neutral-800
      rounded-full
      cursor-pointer
      overflow-hidden
      
      [&::-webkit-slider-thumb]:appearance-none
      [&::-webkit-slider-thumb]:w-[1px]
      [&::-webkit-slider-thumb]:h-[3px]
      [&::-webkit-slider-thumb]:rounded-lg
      [&::-webkit-slider-thumb]:bg-[#00fd0a]
      [&::-webkit-slider-thumb]:shadow-[-400px_10px_3px_400px_#00fd0a];
  }

  .input-volume {
    @apply input-slider
    [&::-webkit-slider-thumb]:bg-white
    [&::-webkit-slider-thumb]:hover:bg-green-500
    [&::-webkit-slider-thumb]:shadow-[-400px_10px_3px_400px]
    [&::-webkit-slider-thumb]:group-hover:shadow-green-500
    transition;
  }

  .volume-off {
    @apply [&::-webkit-slider-thumb]:bg-transparent
    [&::-webkit-slider-thumb]:shadow-transparent;
  }

  /* Scrollbar */

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar.hidden-scrollbar {
    @apply w-0 h-0;
  }

  /* 自定义滚动条轨道的样式 */
  ::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }

  /* 自定义滚动条滑块的样式 */
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500/50 rounded-full;
  }

  /* 当鼠标悬停在滚动条滑块上时，改变滑块的样式 */
  .ce-popover__items {
    @apply bg-grey-dark/60;
  }

  /* Animation */
  @keyframes soundWave {
    0% {
      height: var(--min-height);
    }
    100% {
      height: var(--max-height);
    }
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .sound-wave-bar {
    animation: soundWave 0.5s ease infinite alternate;
  }

  .gradient-animation {
    background-size: 250% 250%;
    animation: gradientAnimation 8s ease infinite alternate;
  }
}
