@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: 1rem;
  font-family: "Poppins", sans-serif;

  transition-duration: 100ms;
  overflow-x: hidden;

  background-color: black;
  color-scheme: dark;
}

@layer components {
  .input-box {
    @apply w-[100%]
    p-[15px]
    border
    border-grey-custom/10
    bg-grey-dark
    text-grey-custom/80
    placeholder:text-grey-custom/30
    placeholder:text-sm
    rounded-md
    outline-none
    file:hidden;
  }

  .input-base-icon {
    @apply absolute 
    -translate-y-1/2 
    top-1/2
    text-grey-custom/50;
  }

  .input-left-icon {
    @apply input-base-icon left-5;
  }

  .input-right-icon {
    @apply input-base-icon right-5;
  }

  .submit-btn {
    @apply w-[100%]
    p-3
    bg-green-custom
    disabled:bg-[#404040]
    disabled:text-neutral-500
    border
    border-green-custom/50
    disabled:border-neutral-600
    rounded-sm
    transition;
  }

  .hover-button {
    @apply outline-none
    p-2
    rounded-full
    hover:bg-neutral-700/50
    transition;
  }
}
