# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/database-name?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=mern-joytify

# AWS Configuration
AWS_REGION=ap-northeast-1
SECRET_NAME=JOYTIFY_SCHEDULER_ENVS

# Test Data Generation Settings
TEMPLATE_USER_ID=6803caa78298bd83e106a989
BATCH_SIZE=500
PLAYBACK_RECORDS_PER_USER=1000